.main_analysis {
    position: relative;
    width: 74%;
    height: 100vh;
    overflow: hidden;
}

.main_analysis .analysis-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (min-width: 1270px) and (max-width: 1280px) {
    .main_analysis{
        width: 100%;
    }
}

@media (max-width: 720px) {
    .main_analysis{
        width:100%;
    }
}
