.apollo_info{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
}

.logo_holder {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.logo_image {
    width: 32px;
    height: 32px;
    background-image: url('../../../../public/images/favicons/favicon-32.png');
    margin-left: 12px;
    background-size: cover;
}

.social_acc{
    font-size: 28px;
    color: #60b5ff;
    cursor: pointer;
}

/* Responsive (Mobile) */
@media (max-width: 720px) {
    .apollo_info{
        width: 100%;
        justify-content: center;
        gap: 2rem;
    }

    .social_acc{
        font-size: 38px;
    }
}
